<!-- CONTACT
                        ================================================== -->
                        <section id="breakfast">
                        <div class="separator"></div><br/>
                        <div class="row-fluid">
                                <div class="span12 addspace">
                                        <h1>Breakfast the start of your day!</h1>
                                </div>
                        </div>
                        <div class="row-fluid" style="min-height:520px;">
                                <div class="span7">
					<p> Info on breakfast </p>
                                        </div>
                                </div>
                        </div>
                </section>

