    <!-- FOOTER
            ================================================== -->
                <div class="row-fluid">
                        <div class="span12 addspace center">
                                <p>
                                        <small>&copy; 2013 The Pathway Bed and Breakfast Whitby Guest House.</small>
                                </p>
                        </div>
                </div>

                <!-- CLOSE ALL DIVS
            ================================================== -->
        </div><!--/.span9-->
    </div><!--/.row-fluid-->
</div><!--/.container-fluid-->
