           <!-- GUESTBOOK 
            ================================================== -->
                        <section id="guestbook">
                        <div class="separator"></div><br/>
                        <div class="row-fluid">
                                <div class="span10 addspace">
                                        <h1>HERE IS WHAT OUR GUEST HAVE TO SAY</h1>
<p class="fancystyle">
Here are some of the many positive comments we have recieved in our guest book over the last few years.
</p>

<div class="tdiv t5">
"Phil is a Gem, love their dog too, lovely B&B, beautiful breakfast and wonderful hospitality" Valerie and Niro, Queesland, Australia.
					<br>
						<p>
				
"A wonderful B & B, a quality establishment" - Rob and Yvonne, Derbyshire,09/12.
						</p>
<p>
"Lovely room,frienldy hosts, best B & B we have stayed in, back soon" -  Paul andMandy Masterson 4/09/2011
                                        </p>

<p>
"A wonderful introduction to the area, we'll be back" - Hazel and Michael. W.Sussex 29/9/2011
                                        </p>

<p>
"One word sums up our stay, EXCELLENT. Pat and John, Congleton 28/9/11
                                        </p>

<p>
"Came for two nights, so good stayed for four"
Julie and Phil James, South Wales 3/9/2010

                                        </p>
<p>
"Thanks once again for a wonderful stay and breakfast"
Pat and Brian Wrigglesworth, Burnley 3/9/2010
                                        </p>

<p>
"absolutely brilliant"
Mr&Mrs Haylett,Ripley 27/9/2010
                                        </p>

<p>
"Everything was Excellent, perfect hosts"
Mr and Mrs Mason, Willerby 3/10/2010
                                        </p>

<p>
"Lovely Decor,Great Breakfast,perfect Location" 
Haley & Chris , Boroughbridge,York 14/2/2009</p>
					</div>
</br>
</br>

<p class="fancystyle">
You can also check out our guest reviews on Trip Advisor.
</p>
<a href="http://www.tripadvisor.co.uk/Hotel_Review-g186345-d2650898-Reviews-The_Pathway_Guest_House-Whitby_North_Yorkshire_England.html"><img src="/assets/tripad.png" alt=""></a>
                                </div>
                        </div>
                        </section>
